* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, a {
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background: grey;
}

header {
    background: green;
    padding: 5px;
    text-align: center;
}

header p {
    font-size: 2.5em;
}

.wrapper {
    max-width: 960px;
}

nav {
    width: 100%;
    background: orange;
    position: sticky;
    top: 0;
    text-align: center;
}

nav ul {
    
}

nav li {
    display: inline-block;
    width: 20%;
    font-size: 1.5em;
    border: 1px black solid;
    border-radius: 5px;
    background: darkblue;
}

nav a {
    text-decoration: none;
    display: block;
    color: whitesmoke;
}

main {
    float: left;
    width: 100%;
    min-height: 600px;
    background: lightblue;
    padding: 20px;
}

code {
    display: block;
    border: black 1px solid;
    background-color: #eee;
    width: 90%;
    margin-left: 10%;
    float: right;
    overflow: auto;
    white-space: nowrap;
    height: 3.5em;
    padding: 3px;
}

img {
    float: right;
    display: inline-block;
    width: 60%;
    margin-left: 40%;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 3px solid black;
}

/*aside {
    float: right;
    width: 40%;
    min-height: 600px;
    background: darkred;
}*/

footer {
    background: green;
}

@media (min-width: 823px) {
    header p {
        font-size: 2.5em;
    }
    .small {
        display: none;
    }
}

@media (max-width: 822px) {
    header p {
        font-size: 2em;
    }
    .small {
        display: none;
    }
}

@media (max-width: 600px) {
    header p {
        font-size: 2em;
    }
    .big {
        display: none;
    }
    .small {
        display: block;
    }
}